.calculator {
    position: fixed;
    background: linear-gradient(to top, #d5e0ee, #f0f6fb);
    height: 260px;
    width: 240px;
    border: 2px #8E9CAD solid;
    -webkit-border-radius:5px;
    -moz-border-radius:5x;
    border-radius:5px;
}

.result-field {
    position: relative;
    background: linear-gradient(to top, #fafbfd, #f0f6fb);
    top:10px;
    left:10px;
    height: 50px;
    width: 220px;
    border: 1px #8E9CAD solid;
    -webkit-border-radius:5px;
    -moz-border-radius:5x;
    border-radius:5px;
}

.history-text {
    position: absolute;
    font-size: 10pt;
    right: 12px;
    top: 2px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.result-text {
    position: absolute;
    font-size: 24pt;
    right: 10px;
    top:12px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button {
    position: absolute;
    background: linear-gradient(to top, #bbd1ec, #f0f6fb);
    width: 40px;
    height: 40px;
    -webkit-border-radius:5px;
    -moz-border-radius:5x;
    border-radius:5px;
    font-color: #1e395b;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    outline: none;
}

/* line 1 */

button.button0 {
    bottom: 10px;
    left: 10px;
    width: 85px;
}

button.button-comma {
    bottom: 10px;
    left: 100px;
}

button.button-sum {
    bottom: 10px;
    left: 145px;
}

button.button-result {
    bottom: 10px;
    left: 190px;
    height: 85px;
}

/* line 2 */

button.button1 {
    bottom: 55px;
    left: 10px;
}

button.button2 {
    bottom: 55px;
    left: 55px;
}

button.button3 {
    bottom: 55px;
    left: 100px;
}

button.button-sub {
    bottom: 55px;
    left: 145px;
}

/* line 3 */

button.button4 {
    bottom: 100px;
    left: 10px;
}

button.button5 {
    bottom: 100px;
    left: 55px;
}

button.button6 {
    bottom: 100px;
    left: 100px;
}

button.button-multiply {
    bottom: 100px;
    left: 145px;
}

button.button-clear {
    bottom: 100px;
    left: 190px;
}

/* line 4 */

button.button7 {
    bottom: 145px;
    left: 10px;
}

button.button8 {
    bottom: 145px;
    left: 55px;
}

button.button9 {
    bottom: 145px;
    left: 100px;
}

button.button-divide {
    bottom: 145px;
    left: 145px;
}

button.button-erase {
    bottom: 145px;
    left: 190px;
}
