.calculator {
    position: fixed;
    background: #CCCCCC;
    height: 250px;
    width: 240px;
    border: 2px #AAAAAA solid;

    left: 50%;
}

.result-field {
    position: relative;
    background: #EEEEEE;
    top:10px;
    left:10px;
    height: 40px;
    width: 220px;
    border: 1px solid;
    -webkit-border-radius:5px;
    -moz-border-radius:5x;
    border-radius:5px;
}

.result-text {
    position: absolute;
    font-size: 26pt;
    right: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button {
    position: absolute;
    background: #BBBBBB;
    width: 40px;
    height: 40px;
    -webkit-border-radius:5px;
    -moz-border-radius:5x;
    border-radius:5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    outline: none;
}

/* line 1 */

button.button0 {
    bottom: 10px;
    left: 10px;
    width: 85px;
}

button.button-comma {
    bottom: 10px;
    left: 100px;
}

button.button-sum {
    bottom: 10px;
    left: 145px;
}

button.button-result {
    bottom: 10px;
    left: 190px;
    height: 85px;
}

/* line 2 */

button.button1 {
    bottom: 55px;
    left: 10px;
}

button.button2 {
    bottom: 55px;
    left: 55px;
}

button.button3 {
    bottom: 55px;
    left: 100px;
}

button.button-sub {
    bottom: 55px;
    left: 145px;
}

/* line 3 */

button.button4 {
    bottom: 100px;
    left: 10px;
}

button.button5 {
    bottom: 100px;
    left: 55px;
}

button.button6 {
    bottom: 100px;
    left: 100px;
}

button.button-multiply {
    bottom: 100px;
    left: 145px;
}

button.button-clear {
    bottom: 100px;
    left: 190px;
}

/* line 4 */

button.button7 {
    bottom: 145px;
    left: 10px;
}

button.button8 {
    bottom: 145px;
    left: 55px;
}

button.button9 {
    bottom: 145px;
    left: 100px;
}

button.button-divide {
    bottom: 145px;
    left: 145px;
}

button.button-erase {
    bottom: 145px;
    left: 190px;
}